.banner {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    height: 5.2vh;
    background-color: #fafafb;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orangeLine {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 3px;
    background-color: #f48024;
}

.logo {
    flex: 0.2;
    background-repeat: no-repeat;
    height: 35px;
    background-position: center;
    background-size: contain;
    background-image: url("https://stackoverflow.design/assets/img/logos/so/logo-stackoverflow.svg");
}

.banner__profile {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 0.2;
}

.banner__profilePhoto  {
    background-image: url("https://picsum.photos/300/300");
    flex: 0.2;
    margin-left: 15px;
    background-repeat: no-repeat;
    height: 60%;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.banner__points {
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
    color: #6a83a5;
    font-weight: bold;
}

.banner__pseudo {
    margin-right: 10px;
    color: #0095ff;
    cursor: pointer;
    font-size: 17px;
}

.banner__logout {
    margin-right: 5px;
    color: #0095ff;
    cursor: pointer;
    font-size: 15px;
    margin-right: -60px;
}

.banner__logout:hover {
    text-decoration: underline;

}