.banner {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    height: 5.2vh;
    background-color: #fafafb;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05),0 1px 4px rgba(0,0,0,0.05),0 2px 8px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orangeLine {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    height: 3px;
    background-color: #f48024;
}

.logo {
    flex: 0.2;
    background-repeat: no-repeat;
    height: 35px;
    background-position: center;
    background-size: contain;
    background-image: url("https://stackoverflow.design/assets/img/logos/so/logo-stackoverflow.svg");
}

.banner__profile {
    height: 100%;
    display: flex;
    align-items: center;
    flex: 0.2;
}

.banner__profilePhoto  {
    background-image: url("https://picsum.photos/300/300");
    flex: 0.5;
    background-repeat: no-repeat;
    height: 60%;
    background-position: center;
    background-size: contain;
}
