.board__container {
    width: 100%;
    height: 100vh;
    background-image: url(/assets/pexels-photo-3279691.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    .board__game {
        width: 85%;
        height: 85%;
        margin: 0 auto;
        display: flex;
        border-radius: 12px;
        background-color: rgba(189, 184, 184, 0.95);
        box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
        15px 15px 15px rgba(0,0,0,0.1),
        inset -50px -50px 50px rgba(255, 255, 255, 0.2),
        inset 50px 50px 50px rgba(0,0,0,0.1);

        .player__board,
        .dealer__board {
            text-align: center;
            width: 50%;
            height: 100%;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        
            h3 {
                background-color: white;
                box-shadow: 2px 2px 2px 2px lightgray;
                border: 2px solid black;
                padding: 10px;
            }

            
            p {
                background-color: #320a53;
                color: white;
                padding: 4px;

                span {
                    text-decoration: underline;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }

            .dealer__button {
                height: 112px;
            }

            .player__button {
                height: 112px;
                display: flex;
                flex-direction: column;
                width: 100%;
                justify-content: space-between;
                h2 {
                    margin-top: 0;
                }

                div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    button {
                        flex: 1;
                        border: none;
                        padding: 10px;
                        margin: 6px;
                        border-radius: 6px;
                        background-color: #320a53;
                        color: white;
                        font-family: inherit;
                        cursor: pointer;
                        &:hover {
                            font-style: italic;
                        }
                    }
                    input {
                        padding: 10px;
                        font-size: 1rem;
                        text-align: center;
                    }
                }

            }
        }
        .card__container {
            width: 100%;
            height: 577px;
            background-color: lightgreen;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
        }
    }
}

button[disabled] {
    background-color: lightgray !important;
    cursor: not-allowed !important;

    &:hover {
        font-style: normal !important;
    }
}

