.column {
    width: 272px;
    min-width: 272px;
    min-height: 40px;
    margin: 0 7px;
    background-color: #ebecf0;
    border-radius: 5px;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
}

.column__title {
    margin: 5px 0px 5px 11px;
}

.column__addACard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 5px 5px 5px;
    color: lightslategray;
    cursor: pointer;
    height: 28px;
    border-radius: 5px;
}


.column__addACard:hover {
    background-color: #d9dce2;
}

.column__addACard p {
    margin-left: 5px;
}

.droppable-col {
    min-height: 40px;
}

.skyblue {
    background-color: skyblue;
}

.column__addACardContainer {
    display: flex;
    width: 100%;
    position: relative;
    height: 100%;
}



.column__addACardContainer input{
    flex: 1;
    border: none;
    padding-left: 30px;
    background-color: #ebecf0;
}

.column__addACardContainer input:focus{
    outline: none;
}

.column__addACardContainer .MuiSvgIcon-root {
    position: absolute;
    top: 2px;
}