.title__container {
    height: 5vh;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;;
    h2 {
        padding: 0;
        margin: 0;

    }
}