.board {
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/54aaae13b8275361d2f78815/2560x1600/b9a42611c9e1e42ffb3f933432bde53a/graphic-project-mgmt.png");
    background-position: center;
    background-size: cover;
}