* {
    box-sizing: border-box;
}

.container {
    position: fixed;
    height: 100%;
    width: 15%;
    top: 0;
    left: 0;
    background-color: black;
    box-shadow: rgb(1, 1, 1) 4px 0px 10px -3px;
}

.nav-nav {
    height: 100%;
}

.nav-list {
    height: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.nav-list li {
    margin: 5rem 0;
    border: 4px solid white;
    background-color: grey;
    border-radius: 4px;
    padding: 8px;
    color: white;
    position: relative;
    width: 80%;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}