.cards__container {
    background-color: khaki;
    margin-top: 225px ;
    position: absolute;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}