.dashboard__container {
    margin-top: 55px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h2 {
        padding: 12px;
        border-radius: 2px;
        background-color: #61dafb;
        
    }

    img {
        position: fixed;
        top: 450px;
        left: 0;
        opacity: 0.2;
        z-index: -1;
    }
}

.summary__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    form {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex: 1;
        padding: 16px;
        background-color: #61dafb75;

        input {
            margin: 0 16px;
            font-weight: inherit;
            padding: 12px;
            border-radius: 12px;
            border: none;
        }
    }
}

.dashboard__listContainer,
.dashboard__doneContainer {
    text-align: center;
    width: 80%;
    margin-top: 20px;
    
    overflow-y: scroll;
    h3 {
        margin-bottom: 0;
    }

    ul {
        margin-top: 6px;
        padding: 0;
        list-style: none;
        flex: 1;
        min-height: 150px;
        max-height: 230px;
    }
}

.graph__container {
    margin-top: 50px;
    width: 80vw;
    height: 75vh;
    background-color: #f6f6f6;
    padding: 25px;
}
