.banner {
    position: fixed;
    background-color: #ffffff;
    width: 100vw;
    height: 6.7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid lightgray;
    font-family: Roboto;
}

.banner__logo {
    flex: 0.07;
    margin-left: 10px;
    margin-right: 20px;
}

.banner__logo .banner__folderLogo {
    color: rgb(28, 28, 194);
    font-size: 2.7rem !important;
    cursor: pointer;
}

.banner__details {
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.banner__details .banner__docInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 7px 0 7px 0;
}

.banner__docInfo h3 {
    font-size: 1.3rem;
    margin-right: 20px;
    font-weight: 400;
}

.banner__docInfo .MuiSvgIcon-root{
    margin-right: 10px;
    color: rgb(143, 143, 143);
    font-size: 1.2rem !important;
}

.banner__docInfo .MuiSvgIcon-root:hover {
    color: rgb(180, 180, 180);
    cursor: pointer;
}

.banner__details .banner__subMenu {
    display: flex;
}

.banner__subMenu .subMenuItem{
    margin: 0 5px 0 0;
    font-size: 0.95rem;
    padding: 2.5px 5px 2.5px 5px;
}

.banner__subMenu .subMenuItem:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    cursor: pointer;
}

.banner__account {
    flex: 0.2;
    
}

