
.converstations__container {
    flex: 0.43;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    background-color: rgba(211, 211, 211, 0.397);


    .conv__account {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8%;

        .conv__avatar {
            background-color: rgba(255, 166, 0, 0.507);
        }
        .MuiAvatar-circle {
            margin-left: 15px;
        }
        button {
            background-color: #00e676;
            padding: 12px;
            border-radius: 12px;
            color: white;
            border: 1px solid transparent;
            font-family: inherit;
            font-size: 1rem;
            cursor: pointer;
            margin-right: 35px;

            &:hover {
                border: 1px solid black;
            }
        }

        .MuiAvatar-colorDefault {
            margin: 0 15px;
        }

        .MuiSvgIcon-root {
            margin: 0 10px;
        }
    }

    .conv__searchBar {
        border: 1px solid lightgray;
        display: flex;
        align-items: center;
        height: 10%;
        justify-content: center;
        padding: 0 10px;
        position: relative;
        input {
            width: 90%;
            padding: 10px;
            padding-left: 55px;
            border-radius: 12px;
            border: none;
            font-family: inherit;
        }

        .conv__glass {
            position: absolute;
            left: 20px;
        }
    }

    .conv__list {
        overflow-y: scroll;
        height: 81.5vh;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.converstations__container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.converstations__container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

