.auth__page {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    display: grid;
    place-items: center;

    .auth__container {
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        border-radius: 12px;
        box-shadow: 2px 2px 2px black;

        label {
            margin-top: 20px;
        }

        button {
            margin: 20px 0;
            font-family: inherit;
            border: 2px solid transparent;
            padding: 6px;
            background-color: #13141783;
            color: white;
            cursor: pointer;
            &:hover {
                border: 2px solid black;
            }
        }
        p{
            font-size: 0.6rem;
            margin: 0;
            text-align: center;
            &:hover {
                text-decoration: underline;
                cursor:pointer;
            }
        }
    }
}



.login__textContainer {
    position: fixed;
    display: flex;
    right: 25px;
    a {
        text-decoration: none;
    }
    .login__text {
        right: 25px;
        color: black;
        background-color: #90ee90;
        padding: 10px;
        margin: 15px 7px;
        border: 2px solid transparent;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
            border: 2px solid black;
        }
    }
}