.message__container {
    background-color: whitesmoke;
    width: fit-content;
    padding: 10px;
    border-radius: 12px;
    position: relative;
    margin: 20px 0;

    span {
        position: absolute;
        bottom: 4px;
        right: 7px;
        font-size: 0.5rem;

    }
}

.sender {
    margin-left: auto;
    background-color: #00e676;
}