.labelModal {
    margin: 10px 7px 10px 0;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.labelSideMenu {
    box-sizing: content-box;
    width: 150px;
    border-left: 7px solid transparent;
}

.labelSideMenu:hover {
    border-left: 7px solid rgba(0, 0, 0, 0.3) ;
    width: 143px;
    padding-left: 12px;
}

.labelSideMenu span {
    position: absolute;
    right: 2px;
}