// varibles
$nav-bar: #20232a;

.navigationBar__container {
    display: flex;
    background-color: $nav-bar;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 56px;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    
    section {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex: 0.3;
        width: fit-content;
        h1 {
            font-size: 1.2rem;
            margin: 0 16px;
            width: fit-content;
            color: white;
            cursor: pointer;
            &:hover,
            &:active {
                color: #61dafb;
                font-weight: bolder;
            }
        }
    }

    .navigationBar__middle {
        img {
            height: 55px;
        }
    }
}