.YourAnswer {
    margin: 15px;
    margin-top: 40px;
}

.YourAnswer h3 {
    margin-bottom: 15px;
}

.YourAnswer textarea {
    width: 100%;
    border: 1px solid lightgray;
    height: 150px;
    padding: 15px;
    border-radius: 6px;
    font-family: inherit;
    margin-bottom: 15px;
}

.YourAnswer textarea:focus {
    outline: none;
}

.YourAnswer p {
    font-size: 15px;
    margin-bottom: 15px;
}