.btn {
    padding: 10px;
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4);
    background-color: #0095ff;
    border: none;
    font-family: inherit;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 5px;
    transition: all 0.2s ease;
}

.btn:hover {
    background-color: #0077cc !important;
}

.btn[disabled] {
    background-color: lightgray !important;
}