.backdrop-container {
    width: 30%;
    height: 60%;
    background-color: wheat;
    border-radius: 12px;
    position: fixed;
    top: 15%;
    left: 40%;
}

.backdrop-form {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "title title"
        "name name1"
        "company company1"
        "message message1"
        "submit submit";
    padding: 16px;
    position: relative;
}

.backdrop-X {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.backdrop-title {
    grid-area: title;
    justify-self: center;
}

.backdrop-form label {
    align-self: center;
    justify-self: center;
}

.backdrop-form input {
    height: 30%;
    justify-self: center;
    align-self: center;
    width: 90%;
}

.message1 {
    height: 90%;
    width: 90%;
    justify-self: center;
    align-self: center;
}

.submit {
    grid-area: submit;
    width: 60%;
    height: 60%;
    align-self: center;
    justify-self: center;
    background-color: #ff1b68;
    border: none;
    border-radius: 12px;
    color: white;
    font-weight: bold;
}